<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Earthwatchers_DSN" connectionString="Server=.;Database=EarthwatchersRegions;Trusted_Connection=yes;"/>
  </connectionStrings>
  <appSettings>
    <add key="kmlparser.kmlfile" value="D:\Dev\Greenpeace\Guardianes\KmlFiles\ChacoDesmontable.kml"/>
  </appSettings>
  <system.transactions>
    <defaultSettings timeout="22:00:00"/>
  </system.transactions>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>